@import "tailwindcss";

/* for heading main and secondary color */
:root {
  --main: #101829;
  --secondary: #1e2939; 
  --gray-600: #4a5565;
  --white: #ffffff;
  --black: #000000;
  --red: #fb2c36;
  --amber: #ffbb00;
  --purple: #9810fa;
  /* --purple-dark:  */
}

@theme {
  --color-main-gray: var(--main);
  --color-secondary-gray: var(--secondary);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-red: var(--red);
  --color-gray-600: var(--gray-600);
  --color-amber: var(--amber);
}


body {
  background: var(--white);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}